# Funções Lambda

As funções lambda não são definidas, portanto, não recebem nome. São conhecidas por isso como funções anônimas. A vantagem das funções lambda são uma menor utilização de memória, já que são executadas "on the fly" e deixam o código mais limpo.

In [1]:
sc

### Utilizando 3 linhas de código

In [2]:
def quadrado(num):
    a = num**2
    return a

In [3]:
quadrado(6)

36

### Utilizando 2 linhas de código

In [ ]:
def quadrado(num):
    return num**2

In [ ]:
quadrado(5)

### Utilizando 1 linha de código

In [ ]:
def quadrado(num): return num**2

In [ ]:
quadrado(5)

# Lambda

In [4]:
lambda num: num**2

In [5]:
quadrado = lambda num: num**2

In [6]:
quadrado(10)

100

In [11]:
#Get Last
ultimo = lambda s: s[-1]

In [10]:
ultimo("UNIDADOS")

'O'

### Lambda Booleanas

In [12]:
#Numero impar
impar = lambda x: x%2 > 0

In [13]:
impar(3)

True

In [14]:
#Numero > 10
maior = lambda x: x > 10

In [15]:
maior(9)

False

### Listas

In [ ]:
lista = [2,3,4,5]

In [ ]:
dobro = lambda x: x * 2

In [ ]:
#Aqui temos que utilizar a função MAP, que veremos um pouco mais a frente
dobro(lista)

In [ ]:
soma = lambda x,y : x+y

In [ ]:
soma(10,10)

In [ ]:
#Ordenando inversamente

reverse = lambda s: s[::-1]

In [ ]:
reverse('UNIDADOS')